/* font-family: 'Roboto', sans-serif */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.wrapper {
    background: url(img/backgraund/hero_bg.png) no-repeat center/cover;
    min-height: 100%;
    width: 100%;
    position: relative;
}

img {
    max-width: 100%;
}

.header {
    padding: 16px 0px 6px;
    border-bottom: 2px solid white;
    position: absolute;
}

.container {
    padding: 0px 5px;
    max-width: 1130px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    color: white;
    width: 100%;
    flex: 1;
    max-width: 1370px;
    justify-content: space-between;
    column-gap: 20px;
}

.logo {
    margin: 16px 0px 3px 40px;
}

.navigation__list {
    margin: 50px 160px 20px 129px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 404px;
}

.navigation__item {}

.contact {
    display: flex;
    margin: 51px 40px 23px 0px;
}

.location {
    margin-right: 52px;

}

.location::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(location.svg) no-repeat top left/cover;
}

.number {}

.main {}

.hero {
    height: 100vh;
    padding-top: 272px;
    color: white;
    font-size: 26px;

    display: flex;
    flex-direction: column;
}

.hero__container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.information {
    flex: 1;

}

.title {
    font-size: 40px;
    line-height: 1.17;
    font-family: 'Roboto', sans-serif;
}

.hero .title {
    margin-bottom: 16px;
}

.hero__subtitle {
    line-height: 1.18;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}

.hero__btn {
    display: flex;
    column-gap: 20px;
}

.btn {
    min-width: 170px;
    padding: 12px 16px;
    background: none;
    border: none;
    border-radius: 5px;
    border-width: 2px;
}

.footer__information span {
    color: palevioletred;
}

.footer__information {
    font-size: 20px;
}

.hero-advatege {}

.transparant {
    color: white;
    justify-content: space-between;

}

.footer {}

.functions {

    display: flex;
    justify-content: space-between;

}

.functions__item {
    padding: 5px 5px;
    border-radius: 4px;
    text-align: center;
    border: 2px solid white;
    margin-right: 100px;
    font-size: 20px;
    width: 500px;
}

.hero-img {
    margin-bottom: 0;
}

.contant {
    margin-top: 0;
}

@media (max-width:960px) {
    .container {
        max-width: 898px;
    }

    .logo {
        max-width: 186px;
        min-width: 81px;
    }

    .location {
        display: none;
    }

    .hero {
        padding-top: 22%;
    }

    .information {
        padding-left: 8%;
    }

    .title {
        font-size: 42px;
    }
}

@media (max-widgh:769px; ) {
    .container {
        max-width: 722px;
    }

    .logo {
        max-width: 142px;
    }

    .header .navigation__list,
    .header__contact {
        display: none;
    }

    .hero {
        padding-top: 170px;
    }

    .hero__btn {
        flex-wrap: wrap;
        row-gap: 14px;
    }

    .hero-advatege {
        flex: 0 1 221px;
        padding: 13px;
    }

}

@media (max-widgh:480px; ) {
    .container {
        max-width: 90.8%;
    }

    .hero-advatege {
        flex: 0 1 auto;
        display: flex;
        padding: 17px;
        align-items: center;
    }

    .hero-img {
        margin-right: 28px;
        flex-shrink: 0;
    }
}